{include file="pageheader"}
<link rel="stylesheet" type="text/css" href="__PUBLIC__/fancybox/jquery.fancybox.css?v=2.1.5" media="screen" />
<link rel="stylesheet" type="text/css" href="__ASSETS__/css/jquery.datetimepicker.css" />
<div class="container-fluid" style="padding:0">
  <div class="row" style="margin:0">
    <div class="col-md-12 col-sm-12 col-lg-12" style="padding:0;">
      <div class="panel panel-default">
        <div class="panel-heading">添加方案</div>
        <form action="{url('crowd/add_plan')}" method="post" enctype="multipart/form-data" role="form">
        <table id="general-table" class="table table-hover ectouch-table">
              <tr>
            <td width="200">方案价格:</td>
            <td><div class="col-md-4">
                <input type='text' name='data[shop_price]' value="{$plans['shop_price']}" class="form-control input-sm" />
              </div>
              <span class="help_block">
                  单份购买价格，输入数字，如：99
                </span>
              </td>
          </tr>
         <tr>
            <td width="200">回报内容:</td>
            <td><div class="col-md-4">
                <input type='text' name='data[name]' value="{$plans['name']}" class="form-control input-sm" />
              </div>
                <span class="help_block">
                  回报内容，输入文字介绍
                </span></td>
          </tr>
            <tr>
            <td width="200">设置份数:</td>
            <td><div class="col-md-4">
                <input type='text' name='data[number]' value="{$plans['number']}" class="form-control input-sm" />
              </div>
                <span class="help_block">
                  份数总额，输入数字，如：99
                </span>
              </td>
          </tr>
          <tr>
		<td>是否显示</td>
			<td><div class="col-sm-2">
				<div  class="btn-group" data-toggle="buttons">
					<label class="btn btn-primary {if $plans['status']==1}active{/if}">
						<input type="radio" name="data[status]" value="1" {if $plans['status']==1}checked{/if}> 显示
					</label>
					<label class="btn btn-primary {if $plans['status']==0}active{/if}">
						<input type="radio" name="data[status]" value="0" {if $plans['status']==0}checked{/if}> 不显示
					</label>
				</div>
			</div></td>
		</tr>
          <tr>
            <td width="200">方案图片:</td>
            <td><div class="col-md-4">
                <input type="file" value="{$plans['cp_img']}" name="cp_img" class="form-control input-sm">
                </div>
				 <span class="help_block">
                  (建议上传图片比例为1:1)
                </span>				
           </td>
          <tr>
            <td width="200">排序:</td>
            <td><div class="col-md-2">
                <input type='text' name='data[sort_order]' value="{$plans['sort_order']}" class="form-control input-sm" />
              </div>
                <span class="help_block">
                   此排序与前台方案排列顺序一致，建议按照购买金额由小到大排列
                </span>
              </td>
          </tr>
      
            </table>
            </div>
            </div>
        </td>
    </tr>
          <tr>
            <td width="200"></td>
            <td><div class="col-md-4">
                <input type="hidden" name="data[cp_id]" value="{$plans['cp_id']}" />
                <input type="hidden" name="data[goods_id]" value="{$goods_id}" />
  		<input type="submit" value="{$lang['button_submit']}" class="btn btn-primary" />
                <input type="reset" value="{$lang['button_reset']}" class="btn btn-default" />
              </div></td>
          </tr>
      </table>
      </form>
    </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="__PUBLIC__/fancybox/jquery.fancybox.js?v=2.1.5"></script>
<script src="__ASSETS__/js/jquery.datetimepicker.js"></script>

{include file="pagefooter"}
