{include file="pageheader"}
<div class="panel panel-default">
	<div class="panel-heading">评论详情</div>
</div>

<div class="container-fluid" style="padding:0">
  <div class="row" style="margin:0">
    <div class="col-md-12 col-sm-12 col-lg-12" style="padding:0;">
      <div class="panel panel-default">
    
        <form action="{url('message_reply')}" method="post" enctype="multipart/form-data" class="form-horizontal" role="form">
        <table id="general-table" class="table table-hover ectouch-table">
            <tr>
                <td align="center" colspan=2>:</td> 
                </tr>
            <tr>
                <td width="200">会员名称:</td>
                <td><div class="col-md-2">
                        {$message_info[user_name]}
                    </div></td>
            </tr>
            <tr>
                <td width="200">支持项目名称:</td>
                <td><div class="col-md-4">
                        {$message_info[goods_name]}
                    </div></td>
            </tr>
            <tr>
                <td width="200">评论内容:</td>
                        <td><div class="col-md-3 content">
                       {$message_info[content]}
                                
                    </div></td>
            </tr>
           
               <tr>
                <td width="200">回复内容:</td>
                     <td><div class="col-md-3 content">
                             <textarea  name='reply' class="form-control input-sm" >{$message_info[reply]}</textarea>    
                    </div></td>
            </tr>
             {if $message_info[reply]}
             <tr>
                <td width="200">回复时间:</td>
                     <td><div class="col-md-3 content">
                             {$message_info[reply_time]}
                    </div></td>
            </tr>
            {/if}
              <tr>
                <td width="200">用户评论时间:</td>
                        <td><div class="col-md-3 content">
                        {$message_info[add_time]}
                        </div></td>
              </tr>
              
             <tr>
            <td width="200">是否显示:</td>
            <td><div class="col-md-4 btn-group" data-toggle="buttons">
                <label class="btn btn-primary {if $message_info['status'] == 1}active{/if}">
                  <input type="radio" name="status" value="1" {if $message_info[status] == 1}checked{/if} />{$lang['yes']}
                </label>
                <label class="btn btn-primary {if $message_info['status'] == 0}active{/if}">
                  <input type="radio" name="status" value="0" {if $message_info[status] == 0}checked{/if} />{$lang['no']}
                </label>
              </div>
            </td>
          </tr>
          <input type="hidden" name="reply_time" value="" />
          <input type="hidden" name="id" value="{$message_info[id]}" />
          <tr>
            <td width="200"></td>
            <td><div class="col-md-4">
  	    <input type="submit" value="提交" class="btn btn-primary" />
              </div></td>
          </tr>
          </table>
          </form>
      </div>
    </div>
  </div>
</div>

{include file="pagefooter"}