{include file="pageheader"}
<div class="container-fluid" style="padding:0">
	<div class="row" style="margin:0">
	   <tr>
                        <td><div style="float:right" class="navbar-form ">
                                <a href="{url('crowd/goods_add')}"><button class="btn btn-primary">添加项目</button></a>
				</div></td>
		</tr>
                  	<form class="navbar-form " role="search" action="{url('index')}" method="post">
				<input type="text" class="form-control" placeholder="项目名称" name="name"/>	
			        <input name="Submit" class="btn btn-primary" type="submit" value="搜索">
    	 	        </form>
            <div class="container-fluid" style="padding:0">
	<div class="row" style="margin:0">
	  <div class="col-md-12 col-sm-12 col-lg-12" style="padding:0;">
		<div class="panel panel-default">
			<div class="panel-heading">项目列表</div>
			<table class="table table-hover table-striped table-bordered">
                <tr>
                     <th class="text-center">ID</th>
                    <th class="text-center">项目名称</th>
                    <th class="text-center">目标金额</th>
                    <th class="text-center">已筹金额</th>
                    <th class="text-center">开始时间</th>
                    <th class="text-center">结束时间</th>
                    <th class="text-center">预计发货时间</th>   
                    <th class="text-center">排序</th>
                    <th class="text-center">是否推荐</th>
                    <th class="text-center">状态</th>
                    <th class="text-center">操作</th>
                </tr>

    {loop $goods $goods}
  <tr align="center" class="{$cat[level]}" id="{$cat[level]}_{$cat[cat_id]}">
      <td align="center" class="first-cell" >
      <span>{$goods[goods_id]}</span>
    </td>
    <td align="center" class="first-cell" >
      <span>{$goods[goods_name]}</span>
    </td>
      <td align="center" class="first-cell" >
      <span>{$goods[sum_price]}</span>
    </td>
      <td align="center" class="first-cell" >
        {if $goods[total_price]}
      <span>{$goods[total_price]}</span>
      {else}
        <span>0</span>
      {/if}
    </td>
      <td align="center" class="first-cell" >
      <span>{$goods[start_time]}</span>
    </td>
      <td align="center" class="first-cell" >
      <span>{$goods[end_time]}</span>
    </td>
      <td align="center" class="first-cell" >
      <span>{$goods[shiping_time]}</span>
    </td>
     <td align="center" class="first-cell" >
      <span>{$goods[sort_order]}</span>
    </td>
      <td align="center" class="first-cell" >
      {if $goods[recommend]==1 }
      <span>推荐</span>
      {else}
       <span>不推荐</span>
      {/if}
    </td>
    {if $goods[status]==0}
     <td align="center" class="first-cell" >
      <span>进行中</span>
    </td>
    {elseif $goods[status]==1 }
    <td align="center" class="first-cell" >
      <span>成功</span>
    </td>
    {else}
      <td align="center" class="first-cell" >
      <span>失败</span>
    </td>
    {/if}
    
    <td width="24%" align="center">
        <a href="{url('index.php?m=default&c=crowdfunding&a=goods_info', array('id'=>$goods[goods_id]))}" target="_blank">查看</a> |
        <a href="{url('goods_add', array('goods_id'=>$goods[goods_id]))}">编辑项目</a> |
        <a href="{url('plan_list', array('goods_id'=>$goods[goods_id]))}">方案列表</a> |
        <a href="{url('add_plan', array('goods_id'=>$goods[goods_id]))}">添加方案</a> |
        <a href="{url('trends_list', array('goods_id'=>$goods[goods_id]))}">项目动态列表</a> |
        <a href="javascript:if(confirm('确定要结束吗？')){window.location.href='{url('goods_end', array('goods_id'=>$goods[goods_id]))}'};">结束</a>|
            <a href="javascript:if(confirm('{$lang['confirm_delete']}')){window.location.href='{url('del_goods', array('goods_id'=>$goods[goods_id]))}'};">删除项目</a>
    </td>
  </tr>
   {/loop}
			</table>
		</div>
	  </div>
	</div>
</div>
	</div>
    {include file="pageview"}
 </div>
</div>
{include file="pagefooter"}






