{include file="pageheader"}
<div class="container-fluid" style="padding:0">
	<div class="row" style="margin:0">
	   <tr>
		
                        <td><div style="float:right" class="navbar-form ">
                                <a href="{url('crowd/add_article')}"><button class="btn btn-primary">添加问答</button></a>
				</div></td>
		</tr>
            <div class="container-fluid" style="padding:0">
	<div class="row" style="margin:0">
	  <div class="col-md-12 col-sm-12 col-lg-12" style="padding:0;">
		<div class="panel panel-default">
			<div class="panel-heading">问答列表</div>
			<table class="table table-hover table-striped table-bordered">
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">问答标题</th>
                    <th class="text-center">添加时间</th>
<!--                    <th class="text-center">排序</th>-->
                    <th class="text-center">是否显示</th>
                    <th class="text-center">操作</th>
                </tr>

    {loop $article_list $article}
  <tr align="center">
      <td align="center" class="first-cell" >
      <span>{$article[article_id]}</span>
    </td>
    <td align="center" class="first-cell" >
      <span>{$article[title]}</span>
    </td>
      <td align="center" class="first-cell" >
      <span>{$article[add_time]}</span>
    </td>
<!--     <td align="center" class="first-cell" >
      <span>{$article[sort_order]}</span>
    </td>-->
     <td align="center" class="first-cell" >
       {if $article[is_open]==1} 
      <span>显示</span>
      {else}
      <span>不显示</span>
      {/if}
    </td>
    <td width="24%" align="center">
        <a href="{url('add_article', array('article_id'=>$article[article_id]))}">编辑</a> |
     <a href="javascript:if(confirm('{$lang['confirm_delete']}')){window.location.href='{url('del_article', array('article_id'=>$article[article_id]))}'};">删除</a>
    </td>
  </tr>
   {/loop}
			</table>
		</div>
	  </div>
	</div>
</div>
	</div>
    {include file="pageview"}
 </div>
</div>
{include file="pagefooter"}






