{include file="pageheader"}
<div class="panel panel-default">
	<div class="panel-heading">订单详情</div>
</div>
<style>
.article{border:1px solid #ddd;padding:5px 5px 0 5px;}
.cover{height:160px; position:relative;margin-bottom:5px;overflow:hidden;}
.article .cover img{width:100%; height:auto;}
.article span{height:40px; line-height:40px; display:block; z-index:5; position:absolute;width:100%;bottom:0px; color:#FFF; padding:0 10px; background-color:rgba(0,0,0,0.6)}
.article_list{padding:5px;border:1px solid #ddd;border-top:0;overflow:hidden;}
.radio label{width:100%;position:relative;padding:0;}
.radio .news_mask{position:absolute;left:0;top:0;background-color:#000;opacity:0.5;width:100%;height:100%;z-index:10;}
</style>
<div class="container-fluid" style="padding:0">
  <div class="row" style="margin:0">
    <div class="col-md-12 col-sm-12 col-lg-12" style="padding:0;">
      <div class="panel panel-default">
    
        <form action="{url('delivery')}" method="post" enctype="multipart/form-data" class="form-horizontal" role="form">
        <table id="general-table" class="table table-hover ectouch-table">
            <tr>
                <td align="center" colspan=2>基本信息:</td> 
                </tr>
            <tr>
                <td width="200">订单号:</td>
                <td><div class="col-md-2">
                        {$order_info[order_sn]}
                    </div></td>
            </tr>
            <tr>
                <td width="200">支持会员名称:</td>
                <td><div class="col-md-4">
                        {$order_info[user_name]}
                    </div></td>
            </tr>
            <tr>
                <td width="200">支付方式:</td>
                        <td><div class="col-md-3 content">
                     {$order_info[pay_name]}
                                
                    </div></td>
            </tr>
              <tr>
                <td width="200">订单状态:</td>
                        <td><div class="col-md-3 content">
                     {$order_info[status]}
                                
                    </div></td>
            </tr>
            <tr>
                <td width="200">配送方式:</td>
                        <td><div class="col-md-3 content">
                     {$order_info[shipping_name]}
                    </div></td>
            </tr>
            
            <tr>
                <td width="200">发货单号:</td>
                {if $order_info[order_status]==1 &&$order_info[pay_status]==2 && $order_info[shipping_status]==0 }   
                      <td><div class="col-md-3 content">
                     <input name="data[invoice_no]">
                    </div></td>
                {else}
                        <td><div class="col-md-3 content">
                     {$order_info[invoice_no]}
                    </div></td>
                 {/if}
            </tr>
               {if $order_info[order_status]==1 &&$order_info[pay_status]==2 && $order_info[shipping_status]==0 } 
             <tr>
                <td width="200">打印快递单:</td>
                        <td><div class="col-md-3 content">
                     <input type="button" onclick="window.open('{url('print_shipping',array('order_id'=>$order_info[order_id]))}')" class="button" value="打印快递单" />
                    </div></td>
            </tr>
            {/if}
            <tr>
                <td width="200">打印订单:</td>
                        <td><div class="col-md-3 content">
                     <input type="button" onclick="window.open('{url('print_order',array('order_id'=>$order_info[order_id]))}')" class="button" value="打印订单" />
                    </div></td>
            </tr>
              <tr>
                <td align="center"  colspan=2>收货人信息:</td> </tr>
             <tr>
                <td width="200">收货人:</td>
                <td><div class="col-md-2">
                         {$order_info[consignee]}
                    </div></td>
            </tr>
            <tr>
                <td width="200">地址:</td>
                <td><div class="col-md-4">
                         {$order_info[address]}
                    </div></td>
            </tr>
            <tr>
                <td width="200">电话:</td>
                        <td><div class="col-md-3 content">
                     {$order_info[tel]}
                    </div></td>
            </tr>
            <tr>
                <td width="200">手机:</td>
                        <td><div class="col-md-3 content">
                     {$order_info[mobile]}
                    </div></td>
            </tr>
            <tr>
                <td width="200">最佳配送时间:</td>
                        <td><div class="col-md-3 content">
                     {$order_info[best_time]}
                    </div></td>
            </tr>
                <tr>
                <td width="200">标志性建筑:</td>
                        <td><div class="col-md-3 content">
                     {$order_info[sign_building]}
                    </div></td>
            </tr>
             <tr>
                <td width="200">邮编:</td>
                        <td><div class="col-md-3 content">
                     {$order_info[zipcode]}
                    </div></td>
            </tr>
              <tr>
                <td width="200">买家留言:</td>
                        <td><div class="col-md-3 content">
                     {$order_info[postscript]}
                    </div></td>
            </tr>
           
                  <tr>
                <td align="center"  colspan=2>商品信息:</td>  
            <tr>
                <td width="200">商品名称 [ 品牌 ]:</td>
                <td><div class="col-md-2">
                         {$order_info[goods_name]}
                    </div></td>
            </tr>
            <tr>
                <td width="200">价格:</td>
                <td><div class="col-md-4">
                         {$order_info[goods_price]}
                    </div></td>
            </tr>
            
              <tr>
                <td width="200">购买数量:</td>
                <td><div class="col-md-4">
                         {$order_info[goods_number]}
                    </div></td>
            </tr>
              <tr>
                <td width="200">回报方案名称:</td>
                <td><div class="col-md-4">
                         {$order_info[cp_name]}
                    </div></td>
            </tr>
            <!-- <tr>
                <td width="200">库存:</td>
                        <td><div class="col-md-3 content">
                     {$order_info[stock]}
                    </div></td>
            </tr> -->
              <tr>
                <td align="center"  colspan=2>费用信息:</td>  
            <tr>
                <td width="200">应付金额:</td>
                <td><div class="col-md-2">
                      {$order_info[total_fee]}   
                    </div></td>
            </tr>
         <input type="hidden" name="data[order_id]" value="{$order_info[order_id]}" />
         {if $order_info[order_status]==1 &&$order_info[pay_status]==2 && $order_info[shipping_status]==0 }   
          <tr>
            <td width="200"></td>
            <td><div class="col-md-4">
  	    <input type="submit" value="发货" class="btn btn-primary" />
              </div></td>
          </tr>
          {/if}
          
          {if $order_info[order_status]==5 &&$order_info[pay_status]==2 && $order_info[shipping_status]!=0 }   
          <tr>
            <td width="200"></td>
            <td><div class="col-md-4">
                    <input type="submit" value="无效" name="data[cancel]" class="btn btn-primary" />
               
              </div></td>
          </tr>
          {/if}
          </table>
          </form>
      </div>
    </div>
  </div>
</div>

{include file="pagefooter"}