{include file="pageheader"}
<div class="container-fluid" style="padding:0">
	<div class="row" style="margin:0">

            <div class="container-fluid" style="padding:0">
	<div class="row" style="margin:0">
	  <div class="col-md-12 col-sm-12 col-lg-12" style="padding:0;">
		<div class="panel panel-default">
			<div class="panel-heading">评论列表</div>
			<table class="table table-hover table-striped table-bordered">
                <tr>
<!--                    <th class="text-center">ID</th>-->
                    <th class="text-center">支持项目名称</th>
                    <th class="text-center">会员名称</th>
                    <th class="text-center">评论时间</th>
                    <th class="text-center">回复状态</th>
                    <th class="text-center">是否显示</th>
                    <th class="text-center">操作</th>
                </tr>

    {loop $message_list $message}
  <tr align="center">
<!--      <td align="center" class="first-cell" >
      <span>{$message[id]}</span>
    </td>-->
    <td align="center" class="first-cell" >
      <span>{$message[goods_name]}</span>
    </td>
      <td align="center" class="first-cell" >
      <span>{$message[user_name]}</span>
    </td>
     <td align="center" class="first-cell" >
      <span>{$message[add_time]}</span>
    </td>
    <td align="center" class="first-cell" >
       {if $message[reply]} 
      <span>已回复</span>
      {else}
      <span>未回复</span>
      {/if}
    </td>
     <td align="center" class="first-cell" >
       {if $message[status]==1} 
      <span>显示</span>
      {else}
      <span>不显示</span>
      {/if}
    </td>
    <td width="24%" align="center">
        <a href="{url('message_info', array('id'=>$message[id]))}">查看</a> |
        <a href="javascript:if(confirm('{$lang['confirm_delete']}')){window.location.href='{url('del_message', array('id'=>$message[id]))}'};">删除</a>
    </td>
  </tr>
   {/loop}
			</table>
		</div>
	  </div>
	</div>
</div>
	</div>
    {include file="pageview"}
 </div>
</div>
{include file="pagefooter"}






