{include file="pageheader"}
<div class="container-fluid" style="padding:0">
	<div class="row" style="margin:0">

            <div class="container-fluid" style="padding:0">
                <form class="navbar-form " role="search" action="{url('detile')}" method="post">
				<input type="text" class="form-control" placeholder="订单号" name="order_sn"/>	
                                <input type="hidden" class="form-control" placeholder="订单号" name="team_id" value="{$team_id}"/>	
			        <input name="Submit" class="btn btn-primary" type="submit" value="搜索">
    	 	        </form>
	<div class="row" style="margin:0">
	  <div class="col-md-12 col-sm-12 col-lg-12" style="padding:0;">
		<div class="panel panel-default">
			<div class="panel-heading">订单列表</div>
			<table class="table table-hover table-striped table-bordered">
                <tr>
                    <th class="text-center">订单号</th>
                    <th class="text-center">下单时间</th>
                    <th class="text-center">下单用户名称</th>
                    <th class="text-center">总金额</th>
                     <th class="text-center">订单状态</th>
                      <th class="text-center">操作</th>
                </tr>
  
                {loop $order_list $list}
                <tr align="center">
                    <td width="20%" align="center" class="first-cell" >
                        <span>{$list[order_sn]}(拼团)</span>
                    </td>
                    <td align="20%" align="left"><span>{$list[add_time]}</span></td>
                    <td width="10%" align="center"><span >{$list[user_id]}</span></td>
                    <td width="10%" align="center"><span >{$list[order_money]}元</span></td>
                    <td width="10%" align="center"><span >{$list[status]}</span></td>
                    <td width="24%" align="center">
                     <a href="admin/order.php?act=info&order_id={$list[order_id]}">查看详情</a> 
                    </td>
                </tr>
                {/loop}
		</table>
		</div>
	  </div>
	</div>
</div>
	</div>
    {include file="pageview"}
 </div>
</div>
{include file="pagefooter"}







