{include file="pageheader"}

<div class="container-fluid" style="padding:0">
          
                <tr>
                    <td></td>
                        <td><div style="float:right"class="navbar-form ">
                                <a href="{url('team/index')}"><button class="btn btn-primary">频道列表</button></a>
				</div></td>
		</tr>
  <div class="row" style="margin:0">
    <div class="col-md-12 col-sm-12 col-lg-12" style="padding:0;">
      <div class="panel panel-default">
         
	<table border="0" cellpadding="0" cellspacing="0" class="table table-hover table-bordered table-striped">
		<form method="post" action="{url('team/add')}" class="form-horizontal" role="form" enctype="multipart/form-data">
		             <tr>
                            <td width="200"  colspan="2"><b>添加频道</b></td>
                        </tr>	
		<tr>
			<td width="200">频道名称</td>
			<td><div class="col-sm-4">
				<input type="text" name="data[name]" class="form-control" value="{$cat_info['name']}"/>
			</div>
                            <p class="help-block">频道将显示在首页头部，前台点击可以切换不同的频道</p>
			</td>
	 	</tr>
                
                     <tr>
                            <td width="200">频道分类:</td>
                            <td><div class="col-md-4">
                                    <select name="data[parent_id]" class="form-control input-sm">
                                        <option value='0'>请选择一级频道</option>
                                        {loop $cat_select $cat}
                                        <option value="{$cat[id]}"{if $cat_info['parent_id'] == $cat[id] }selected{/if}>{$cat[name]}</option>
                                        {/loop}
                                    </select>
                                </div>
                                <p class="help_block">
                                    若不选择一级频道，则此频道为一级频道
                                </p>
                            </td>
                        </tr>
                     <tr>
                            <td width="200">频道图片:</td>
                            <td><div class="col-md-4">
                                    <input type="file" value="{$cat_info['tc_img']}" name="tc_img" class="form-control input-sm">
                                </div>
                                <span class="help_block">
                                           
                                </span>
                            </td>
                        <tr>
                  <tr>
                    <td width="200">排序:</td>
                    <td >
                       <div class="col-sm-4">
				<input type="text" name="data[sort_order]" class="form-control" value="{$cat_info['sort_order']}"/>
			</div>
                    </td>
                </tr>
                <tr>
			<td>频道描述</td>
			<td><div class="col-sm-4">
				 <textarea name='data[content]' rows="6" cols="48">{$cat_info['content']}</textarea>
			</div>
			<p class="help-block"></p>
			</td>
		</tr>
		<tr>
			<td>是否显示</td>
			<td><div class="col-sm-2">
				<div  class="btn-group" data-toggle="buttons">
					<label class="btn btn-primary {if $cat_info['status']==1}active{/if}">
						<input type="radio" name="data[status]" value="1" {if $cat_info['status']==1}checked{/if}> 显示
					</label>
					<label class="btn btn-primary {if $cat_info['status']==0}active{/if}">
						<input type="radio" name="data[status]" value="0" {if $cat_info['status']==0}checked{/if}> 不显示
					</label>
				</div>
			</div></td>
		</tr>
		
		<tr>
                      <input type="hidden" name="data[id]" value="{$cat_info['id']}">
		
                      <td><div class="col-sm-4" >
				
				</div></td>
				       <td><div class="col-sm-4" >
				<input type="submit" name="submit" value="{$lang['button_save']}" class="btn btn-primary" />
				</div></td>
		</tr>
		</form>
	</table>
      </div>
    </div>
  </div>
</div>
{include file="pagefooter"}